language: julia
julia:
- 1.0
- nightly
matrix:
  allow_failures:
    - julia: nightly
after_success:
- julia -e 'using Pkg; cd(Pkg.dir("FixedEffectModels")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
notifications:
  email: false